<header class="myheader">
  <h1>
    <a style="all: unset" href="/">TechnicalHints</a>
  </h1>

  <nav>
    <ul class="parent">
      <li>
      
      </li>
      <li><a href="/add-new-article"> Add Your Technical Hint </a></li>
      <li id="dark" class="mode">change mode</li>
     
    </ul>
  </nav>
</header>
