<!DOCTYPE html>


<html lang="ar">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>learn css in 1hr</title>


    
    <link rel="stylesheet" href="styles.css" />

    <script defer src="main.js"></script>
</head>

<body id="body">
    <header class="myheader">
        <h1>Courses4Arab</h1>

        <nav>
            <ul class="parent">
                <li>
                    <a href="https://courses4arab.com/#available-courses">
                        AaaLL Courses
                    </a>
                </li>
                <li ><a href="/add-new-article">  
                    Add new article </a></li>
                <li id="dark" class="mode">change mode</li>
                <li><a href=""> Support Us </a></li>
            </ul>
        </nav>
    </header>





    <main id="main">
        <section>
            <h1>
                Trending Articles &#128293;
            </h1>

            <div class="parent-of-articles">

                <article>
                    <h2>
                        Learn HTML
                    </h2>


                    <p>
                        HTML is the standard markup language for Web pages...


                        <a class="btn" href="/dddddd">show more</a>
                    </p>
                </article>

                <article>
                    <h2>
                        Learn HTML
                    </h2>


                    <p>
                        HTML is the standard markup language for Web pages...


                        <a class="btn" href="/dddddd">show more</a>
                    </p>
                </article>




                <article>
                    <h2>
                        Learn HTML
                    </h2>


                    <p>
                        HTML is the standard markup language for Web pages...


                        <a class="btn" href="/dddddd">show more</a>
                    </p>
                </article>


            </div>


        </section>



    </main>

    <footer>
        <p class="follow">
            يُمكنك متابعة اخر أخبار الموقع و القناة علي

            <a href=""> الفيسبوك </a>
        </p>

        <p class="design">Designed and developed by Ali Hassan © 2020</p>
    </footer>




</body>

</html>